{% extends 'base.html' %}

{% block title %}
    {{ news_item.title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ news_item.category.get_absolute_url }}">{{ news_item.category.title }}</a>
    </div>
    <div class="card-body">
        {% if item.photo %}
        <img src="{{ news_item.photo.url }}" alt="" width="350" class="float-start me-3"/>
        {% else %}
        <img src="https://picsum.photos/id/1060/350/235/?blur=1" alt="" class="float-start me-3">
        {% endif %}
        <h5 class="card-title">{{ news_item.title }}</h5>
        <p class="card-text ms-3">{{ news_item.content|safe|linebreaks }}</p>
    </div>
    <div class="card-footer text-body-secondary">
        {{ news_item.created_at|timesince}}
    </div>
</div>
{% endblock %}